# This is Git's per-user configuration file.
[core]
	excludesFile = ~/.gitignore
	attributesFile = ~/.gitattributes
[include]
	path = ~/.gitauthor
	path = ~/.gitincludes

[diff "image"]
	command = /opt/git-hooks/bin/git-imgdiff
